In [1]:
# Importar librerías y leer los archivos de datos
import pandas as pd
df1 = pd.read_csv("Datos_Ventas_Tienda.csv")
df2 = pd.read_csv("Datos_Ventas_Tienda2.csv")
df1.head(10)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200
5  3/11/2023        Ropa         9               50          450
6  11/3/2023    Juguetes         4               30          120
7  11/8/2023        Ropa         9               50          450
8  3/22/2023        Ropa        10               50          500
9  9/29/2023        Ropa         1               50           50

In [2]:
# Mostrar el segundo DataFrame leído
df2.head(10)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electrónic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400
5   12/1/2023    Juguetes         2               30           60
6   5/16/2023  Electrónic         4              200          800
7    2/9/2023      Libros         1               20           20
8    1/9/2023  Electrónic         2              200          400
9    5/3/2023  Electrónic         6              200         1200

In [3]:
# Unir ambos DataFrames en uno solo para el análisis
df = pd.concat([df1,df2])

In [4]:
# Convertir la columna 'Fecha' al formato datetime para facilitar el análisis por fechas
df["Fecha"] = pd.to_datetime(df["Fecha"],format="%m/%d/%Y")

In [5]:
# ¿Cuál es el producto más vendido?
# Calcular el producto más vendido sumando la cantidad por producto
productos_mas_vendidos = df.groupby(["Producto"])["Cantidad"].sum()
producto_mas_vendido = productos_mas_vendidos.idxmax()
cantidad = productos_mas_vendidos.max()
print(f"El producto más vendido fue {producto_mas_vendido} y se vendieron {cantidad} unidades")

El producto más vendido fue Alimentos y se vendieron 1262 unidades

In [6]:
# ¿Cuál es el mes con más ventas?
# Extraer el año y el mes de la fecha para análisis temporal
df["Año"] = df["Fecha"].dt.strftime("%Y")
df["Mes"] = df["Fecha"].dt.strftime("%m")
df.head(10)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta   Año Mes
0 2023-01-17  Electrónic         7              200         1400  2023  01
1 2023-09-01  Electrónic         8              200         1600  2023  09
2 2023-07-29    Juguetes         3               30           90  2023  07
3 2023-10-04   Alimentos         4               10           40  2023  10
4 2023-02-28  Electrónic         6              200         1200  2023  02
5 2023-03-11        Ropa         9               50          450  2023  03
6 2023-11-03    Juguetes         4               30          120  2023  11
7 2023-11-08        Ropa         9               50          450  2023  11
8 2023-03-22        Ropa        10               50          500  2023  03
9 2023-09-29        Ropa         1               50           50  2023  09

In [7]:
# Calcular el mes con más ventas sumando el total por año y mes
sum_ventas_mes = df.groupby(["Año","Mes"])["Total Venta"].sum()
sum_ventas_mes_ordenado = sum_ventas_mes.sort_values(ascending=False)
anio_mes_de_mas_ventas = sum_ventas_mes_ordenado.keys()[0]
cantidad_vendida = sum_ventas_mes_ordenado.iloc[0]
print(f"El mes con mas ventas fue el {anio_mes_de_mas_ventas[1]} con un total de {cantidad_vendida} pesos")

El mes con mas ventas fue el 08 con un total de 45090 pesos

In [10]:
# Guardar el DataFrame final con los resultados en un archivo CSV
df.to_csv('output_analysis.csv',index=False)

In [9]:
# Fin del proyecto: análisis y exportación completados